#contact-page-content{
  //margin: rem-calc(96) 0 0 0;
}

.contact-info-column{
  position: relative;
}

.contact-info-col-icon{
  background-color: $contact-round-background-gray-color;
  border-radius: 50%;
  display: inline-block;
  height: 4rem;
  width: 4rem;
  vertical-align: top;
  position: absolute;
}

.contact-info-col-icon-img{
  width: 40px;
  height: 40px;
  position: relative;
  top: 12px;
  left: 12px;
}

.contact-info-col-header{
  color: $orange-color;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 4rem;

  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #cccccc;
    //margin-top: -16px;
    margin-top: -12px;
    margin-bottom: 12px;
  }

}

.contact-info-col-content{
  margin: 0 0 0 rem-calc(92);
  //float: none !important;
  //display: inline-block;
  position: relative;

}


.contact-info-col-text{

}

#contact-info-working-hours-column{
  #time-range, #days{
    display: block;
  }

  #time-range{
    color: $blue-color;
  }

  #tip{
    font-weight: 100;
    font-size: 0.8rem;

    &:before{
      position: absolute;
      display: inline;
      color: $primary-color;
      content: "*";
      left: -10px;
      font-size: 1rem;
      line-height: 1rem;
    }
  }
}

#contact-info-phones-column{
  .phone{
    span.brace, span.separator{
      color: $orange-color;
    }
  }
}

@media #{$large-up} {
  #address-p{
    span{
      display: block;
    }
  }
}