<!-- First Band (Slider) -->

    <div id="slider">
      <div style="position: absolute;width:100%;z-index: 100;">
        <%= render partial: 'partials/menu' %>
      </div>
    	<ul data-orbit>
  			<li>
              <%= image_tag('banners/1.jpg', alt: 'alt') %>
              <div class="orbit-caption">
                <span class="home-slider-slide-caption-title">Дослідження</span>
                <span class="home-slider-slide-caption-description">Ініціативна група розробляє пріорітети розвитку села</span>
              </div>
  			</li>
		</ul>
    </div>
