<div id="slider">
  <div style="position: absolute;width:100%;z-index: 100;">
    <%# render partial: 'partials/menu' %>
    <%= render partial: "layouts/menu" %>
  </div>
    <ul id="refineslide-images" class="rs-slider">
     <li style="background-image: url(/assets/banners/1.jpg)" class="slide-bg group">
     <a href="#">
     <img src="/assets/banners/1.jpg" alt="" />
     </a>
     <div class="rs-caption">
     <span class="home-slider-slide-caption-title">Дослідження</span>
     <span class="home-slider-slide-caption-description">Ініціативна група розробляє приорітети розвитку села</span>
     </div>
     </li>

    </ul>
</div>