
            <div id="slider">
               <div style="position: absolute;width:100%;z-index: 100;">
        <%# render partial: 'partials/menu' %>
        <%= render partial: "layouts/menu" %>
      </div>
                                <ul id="refineslide-images" class="rs-slider">
                                 <li class="group">
                                 <a href="#">
                                 <img src="/assets/banners/1.jpg" alt="" />
                                 </a>
                                 <div class="rs-caption rs-bottom">
                                 <h3>Caption Area</h3>
                                 <p>Wood texture by <a href="http://downloads.dvq.co.nz/" class="button">Matthew Skiles.</a></p>
                                 </div>
                                 </li>
                                 <li class="group">
                                 <a href="#" class="slide-parent">
                                 <img src="/assets/banners/2.jpg" alt=""/>
                                 </a>
                                 <div class="rs-caption rs-top-right">
                                 <p>This image is wrapped in a link.</p>
                                 </div>
                                 </li>
                                 <li class="group">
                                 <img src="http://placehold.it/1800x800&text=[img]" alt=""/>
                                 <div class="rs-caption rs-bottom-right">
                                 <p>Adapted from <a class="button" href="http://dribbble.com/shots/154205-Cool-Green-Signup-form">Glenn Van Bogaert</a></p>
                                 </div>
                                 </li>
                                </ul>
            </div> <!-- /.section-2 -->