<div id="what-we-do-items">
	<div class="row">
		<div class="item">
			<a href="#">
				<%= image_tag('http://placehold.it/1200x350&text=[img1]') %>
				<div class="overlay-wrapper"><div class="overlay"></div><div class="overlay-triangle"></div></div>
			</a>
		</div>
	</div>
</div>