$orange-color: #ea871f;
$dark-gray-color: #3f3f3f;

$blue-color: #206db1;

$lightgray-color: #e1e1e1;

$gray-color: #acacac;

$extra-lightgray-color: #f2f2f2;

$contact-round-background-gray-color: #d8d8d8;



// indents
$vertical-indent-between-sections: 4rem;